@tailwind base;
@tailwind components;
@tailwind utilities;

.containerChartjs{
  padding-left: 22rem;
  padding-top: 2rem;
  width: 78%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 2rem;
   }

 
}
  
  

.stylechartjs{
  @apply shadow-xl shadow-zinc-500 rounded-2xl ;
}