@tailwind base;
@tailwind components;
@tailwind utilities;

.containerApex{
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @apply w-screen;
  
 h1{
  font-size: 2rem;
 }

}


.stylechart{
  @apply shadow-xl shadow-zinc-500 rounded-2xl    ;
}