@tailwind base;
@tailwind components;
@tailwind utilities;

.containerRecharts{
  padding-top: 3rem ;
  height: 100%;
  width:  100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 h1{
  font-size: 2rem
 }

}

.stylechart{
  @apply shadow-xl shadow-zinc-500 rounded-2xl    ;
}